{{!-- A dropdown menu for each of the results in seeds.js Earth911 api call --}}
<form action="/results/dropdown" method="POST">
    <select name="dropdown">
        <option value=>a #each helper to loop</option>
    </select>
        <button type="submit">Find an alternative disposal method.</button>
</form>