 <footer class="page-footer black">
    <div class="container">
      <p>&#169; 2019  || <a href="https://github.com/racheldmiller/Straight-Garbage">View Our Work on GitHub</a></p>
      <div class="row">
        <div class="col l6 s12">
 </footer>