<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title></title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src=""></script>
	</head>
	<body>
		{{!-- this is what will be rendered on the page --}}
		{{{ body }}}
	</body>
</html>