{{!-- This is the landing page --}}

{{> header }}

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Did You Know...</h1>
            <p class="lead text-muted">If you perform aspirational recycling by placing something in your recycling bin
                that isn’t recyclable, it will cause the whole load to be thrown out. This is recycling contamination
                <link>, and it’s a big problem.

                Should we add a courosel of images in the backgroung here team?
            </p>
            <p>
                <!-- <a href="#" class="btn btn-primary my-2">Main call to action button if we needed it</a> -->
                <!-- <a href="#" class="btn btn-secondary my-2">Secondary action Button if we wanted it</a> -->
            </p>
        </div>
    </section>

    <!-- Card for Snack Bag Info -->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="assets/snackbags.jpg" alt="snackbags" width="100%" height="225" background="#55595c"
                            color="#eceeef" class="card-img-top" text="foil-lined snack bags">
                        <div class="card-body">
                            <p class="card-text">Snack Bags Are Recycling Contaminants. The shiny lining in chip bags is
                                often aluminum or a special mixed plastic. Since recycling plants cannot separate the
                                plastic outer layer from the aluminum inner layer, these mixed-material bags cannot be
                                recycled</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Alternative Disposal
                                        Methods</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Or How to Dispose in
                                        Your Area</button>
                                </div>
                                <!-- <small class="text-muted">Otherwise Goes in Garbage</small> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card for pumps info -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="assets/pumps.png" alt="pumps" width="100%" height="225" background="#55595c"
                            color="#eceeef" class="card-img-top"
                            text="Plastic pumps sometimes have metals springs that make them non-recyclable">
                        <div class="card-body">
                            <p class="card-text">Just because most of a package appears to be recyclable, that doesn’t
                                necessarily mean that all parts of the packaging are recycled. Metal springs are
                                commonly, but not always, found in pumps and sprayers. Unfortunately, metal is
                                detrimental to the plastic recycling stream. For this reason, look for the How2Recycle
                                label to tell you whether you should discard the closure before recycling.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Alternative Disposal
                                        Methods</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Where to Dispose in
                                        Your Area</button>
                                </div>
                                <!-- <small class="text-muted">9 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card for plastic caps info -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="assets/plasticCaps.jpg" alt="caps" width="100%" height="225" background="#55595c"
                            color="#eceeef" class="card-img-top"
                            text="Empty the container and replace plastic caps on their bottles">
                        <div class="card-body">
                            <p class="card-text">Most caps CAN be recycled, but not when they’re separated from the
                                bottle. Caps can slip off conveyer belts during the recycling process, so when you empty
                                a bottle, crush it, cap it, and toss it in the recycling bin.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Alternative Disposal
                                        Methods</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Where to Dispose in
                                        Your Area</button>
                                </div>
                                <!-- <small class="text-muted">9 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- cards for toothbrush info -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="assets/toothbrush.jpeg" alt="Toothbrushes" width="100%" height="225"
                            background="#55595c" color="#eceeef" class="card-img-top"
                            text="Plastic handles, nylon bristles and metal stapes make require a special process for recycling.">
                        <div class="card-body">
                            <p class="card-text">Toothbrushes are difficult the recycle due to nylon bristles, metal
                                staples that hold the bristles in place, and the plastic handles. These materials need
                                to be separated before they can be processed. There may be different standards for
                                electric toothbrushes.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Alternative Disposal
                                        Methods</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Where to Dispose in
                                        Your Area</button>
                                </div>
                                <!-- <small class="text-muted">9 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card for frozen food packaging  -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="assets/frozenfoodboxes.jpg" alt="Frozen Food Boxes" width="100%" height="225"
                            background="#55595c" color="#eceeef" class="card-img-top"
                            text="Watch out for shiny coatings on processed food packaging">
                        <div class="card-body">
                            <p class="card-text">Watch Out for Wax Lining. Frozen food boxes look like paper or
                                cardboard but are actually lined with wax or a plastic polymer. This can help preserve
                                and insulate foods, but it makes these packages impossible to recycle.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Alternative Disposal
                                        Methods</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Where to Dispose in
                                        Your Area</button>
                                </div>
                                <!-- <small class="text-muted">9 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card for Plastic Bags -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="assets/plasticBags.jpg" alt="Plastic Bags" width="100%" height="225"
                            background="#55595c" color="#eceeef" class="card-img-top"
                            text="Back in 2006, California passed a law that mandated a system for recycling plastic shopping bags. Today, supermarkets and other large stores have receptacles where plastic bags can be returned for recycling.">
                        <div class="card-body">
                            <p class="card-text">Plastic bags and items made from their plastic material (i.e. shrink
                                wrap, bubble wrap, Ziploc bags, newspaper bags, trash bags, etc.) are the worst
                                recycling contaminator of all. Many local retailers have recycling programs for plastic
                                bags and films.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Alternative Disposal
                                        Methods</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Where to Dispose in
                                        Your Area</button>
                                </div>
                                <!-- <small class="text-muted">9 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card for Wrong Plastics -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="assets/h2rLabel.jpg" alt="How2Recycle.org" width="100%" height="225"
                            background="#55595c" color="#eceeef" class="card-img-top" text="How2Recycle.org">
                        <div class="card-body">
                            <p class="card-text">Some recycling program might accept plastics #1-7 but the final
                                rejection is decided at the sorting facility. Rejection of plastics usually comes down
                                to the type of the plastic being recycled and what it once contained.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Alternative Disposal
                                        Methods</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Where to Dispose in
                                        Your Area</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Alternative Disposal
                                        Methods</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Where to Dispose in
                                        Your Area</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Alternative Disposal
                                        Methods</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Where to Dispose in
                                        Your Area</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{{> footer }}
