{{> header }}

<div class="container">
    <section id="search" class="search-wrap">
        <h1>What Items Can I Recycle?</h1>
        <p>
            Search and find out! Enter an item.
        </p>
        <form action="/theresult" class="search-form">
            <i class="fas fa-search"></i>
            <input type="search" name="term" placeholder="Cardstock, Soda Cans, etc...">
            <input type="submit" value="Search">
        </form>
        <br><br>
    </section>
</div>

{{> footer }}